@font-face {
    font-family: "Indubitably";
    src:
        url("./assets/fonts/Indubita/Indubitably.woff2") format("woff2"),
        url("./assets/fonts/Indubita/Indubitably.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

img {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

    height: 100px;
    font-family: "Indubitably";
    font-style: italic;
    font-size: 100px;
    letter-spacing: 10px;
    color: rgb(225, 225, 255);
    text-shadow: 1px 1px 5px black;
}

.boards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;

    font-family: "Indubitably";
    font-size: 25px;
    letter-spacing: 5px;
    color: rgb(225, 225, 255);
    text-shadow: 1px 1px 5px black;
    text-align: center;
}

.boards .player,
.boards .computer {
    height: calc(60px * 10);
    width: calc(60px * 10);

    background-color: rgb(255, 255, 255, 0.2);

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.cell {
    border: 1px solid rgb(255, 255, 255, 0.5);
}

.controls {
    display: flex;
    justify-content: space-around;
}

.controls button {
    border: 0;
    border-radius: 10px;
    padding: 10px 25px;
    cursor: pointer;

    font-family: "Indubitably";
    font-size: 25px;
    letter-spacing: 2px;
    color: rgb(225, 225, 255);

    text-shadow: 1px 1px 5px black;
    background-color: rgb(76, 164, 205);
    box-shadow: 0px 0px 5px 1px black;
    text-align: center;
}

.controls button:hover {
    background-color: rgb(70, 150, 200);
}

.controls button:active {
    box-shadow: inset 0px 0px 5px 1px black;
}
